<head>
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/login.css">
</head>
<div role="main" class="login-page">
    <div class="overlay"></div>
    <div id="content" >
        <div class="animated fadeInRight">
            <div class="login-form">
                <div class="login-logo">
                    <img src="assets/img/runakuna-logo-v2.png" alt="RunaKuna">
                </div>
                <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                    <div>
                        <section *ngIf="error">
                            <div class="login-error">{{error}}</div>
                        </section>
                        <section>
                            <i class="ic-user"></i>
                            <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel"
                                   class="form-control" placeholder="Usuario"
                                   data-smart-validate-input="" data-required=""
                                   data-message-required="Por favor, ingrese su username">
                            <b class="tooltip tooltip-top-right"><i class="ic-user"></i>
                                Por favor, ingrese su username</b>
                        </section>
                        <section>
                            <i class="ic-lock"></i>
                            <input type="password" name="password" [(ngModel)]="model.password" class="form-control"
                                   placeholder="Contraseña"
                                   #password="ngModel" data-smart-validate-input="" data-required=""
                                   data-minlength="3" data-maxnlength="20"
                                   data-message="Por favor, ingrese su password">
                            <b class="tooltip tooltip-top-right"><i class="ic-lock"></i>
                                Ingrese su password</b>

                            <!--div class="note">
                                <a (click)="onForgotPassword()">Forgot password?</a>
                            </div-->
                        </section>
                    </div>
                    <footer>
                        <button [disabled]="loading" class="btn btn-primary">
                            Iniciar sesi&oacute;n
                        </button>
                    </footer>
                </form>
            </div>

            <div class="login-phrases">
                <div class="primary">
                    <span>Gesti&oacute;n Humana &aacute;gil e integral</span>
                </div>
                <div class="secondary">
                    <span>Somos expertos gestionando personas</span>
                </div>
            </div>
        </div>
    </div>
</div>
